* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

#login {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 500px;
    margin-top: 50px;
    text-align: center;
}

#login .centered {
    padding: 25px;
}

#record {
    text-align: center;
    display: block;
}

#wait {
    text-align: center;
    display: none;
}

#record #rec {
    transition: all 0.2s ease;
    height: 50px;
    margin-bottom: 15px;
    width: 100px;
    border: none;
    border-radius: 25px;
    background-color: red;
    color: #FFF;
    box-shadow: 0 17px 28px -12px rgba(0, 0, 0, 0.42), 0 6px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#ota {
    transition: all 0.2s ease;
    height: 50px;
    margin-bottom: 15px;
    width: 100px;
    border: none;
    border-radius: 25px;
    background-color: blue;
    color: #FFF;
    box-shadow: 0 17px 28px -12px rgba(0, 0, 0, 0.42), 0 6px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

button:focus, button:active, button:hover {
    outline: 0;
    transition: all 0.2s ease;
}

#record #rec.pushedToTheLimit {
    box-shadow: 0 3px 3px -12px rgba(0, 0, 0, 0.42);
    transition: all 0.2s ease;
}

#mimic {
    display: none;
}
